[submodule "src/modules/base-converter"]
	path = src/modules/base-converter
	url = /home/naholyr/node-base-converter
[submodule "src/modules/express"]
	path = src/modules/express
	url = https://github.com/visionmedia/express.git
[submodule "src/express"]
	path = src/express
	url = https://github.com/visionmedia/express.git
[submodule "src/base-converter"]
	path = src/base-converter
	url = https://github.com/naholyr/node-base-converter.git
[submodule "src/daemon"]
	path = src/daemon
	url = https://github.com/Slashed/daemon.node.git
