<!DOCTYPE html>
<html lang="en">
 <head>
  <title>301.tl - 301 for Too Long URLs</title>
 </head>
 <body>
  <h1>301 - url Too Long</h1>
  <div id="container"><%- body %></div>
  <div id="footer"><p>copyright &amp; co</p></div>
 </body>
</html>
